*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: rgb(241,241,241);
    background: linear-gradient(0deg, rgb(232, 220, 220) 0%, rgba(186,120,41,1) 100%);
    font-family: 'Silkscreen', cursive;
    height: 100vh;
}
a{
    text-decoration: none;
    color: currentColor;

}
@import './home.scss';
@import './show.scss';
