.container{
    max-width: 800px;
    margin: 0 auto;
    background-color: bisque;
    padding: 25px;
    border-radius: 25px;
    h1{
        text-align: center;
        text-transform: uppercase;
        color: magenta;
        padding-bottom: 25px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        
    }
    .row{
        flex-basis: calc(20% - 10px);
        border: 1px solid saddlebrown;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: transform .7s; 
        &:hover{
            transform: scale(1.5);
            background-color: black;
            color: white;
        }
    }
}