* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(241, 241, 241);
  background: linear-gradient(0deg, rgb(232, 220, 220) 0%, rgb(186, 120, 41) 100%);
  font-family: "Silkscreen", cursive;
  height: 100vh;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: bisque;
  padding: 25px;
  border-radius: 25px;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  color: magenta;
  padding-bottom: 25px;
}

.container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container .row {
  flex-basis: calc(20% - 10px);
  border: 1px solid saddlebrown;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  transition: transform 0.5s;
}

.container .row:hover {
  transform: scale(1.5);
  background-color: black;
  color: white;
}

.container .row a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.back__button {
  position: absolute;
  color: white;
  font-size: 2rem;
}

.back__button:hover {
  color: blue;
}

.container__film {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 25px;
  border: 5px dotted black;
  text-align: center;
  font-size: 1.25rem;
}

.container__film .original__title {
  font-size: 3rem;
  color: darkmagenta;
}

.container__film .title__film {
  color: rgb(101, 17, 143);
  font-size: 2rem;
}

.container__film .vote__film {
  font-size: 1rem;
  color: blueviolet;
  text-align: end;
}

.container__film p:hover {
  cursor: pointer;
  color: white;
}

